/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */

                height: 100%;
                width: 100%;
                position: absolute;
                bottom: 0px;
                padding: 0em;
                margin: 0em;
                background-color: #000000;
                font-family: sans-serif;
                color: #ffffff;
                vertical-align: bottom;

}

            #warning {
                position: absolute;
                bottom: 0px;
                z-index: 11;
            }

            #bw, #bw-inv {
                position: absolute;
                top: 0px;
                right: 0px;
                z-index: 55;
            }

            #dot, #dot-inv {
                position: absolute;
                top: 0px;
                right: 72px;
                z-index: 55;
            }

            #bw-inv, #dot-inv {
                display: none;
            }

            #input {
                display: none;
                position: absolute;
                width: 100%;
                top: 0;
                bottom: 0;
                word-wrap: break-word;
                word-break: break-word;
                font-size: 2.5em;
                z-index: 99;
                box-shadow: 3px 3px 8px rgba(0,0,0,0.4) inset, -2px -2px 4px rgba(0,0,0,0.2) inset;
            }
